.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #252525;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    overflow: hidden;
    border: 1px solid #252525;
    margin: 5px;
    padding-left: 5px;
    border-radius: 10px;
    
    @media (min-width: 880px) {
      padding-left: 8px;
    }
  
    & nav {
      @media (max-width: 1020px) {
        display: none;
      }
    }
    
    // header-navItems
    &-navItems {
      height: 80px;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px;
      padding-right: 10px;
  
      // header-navItems li
      & li {
        cursor: pointer;
  
        & > a {
          color: #252525;
          text-decoration: none;
        }
        
        // header-navItems li::after
        &::after {
          content: '';
          display: block;
          position: relative;
          top: 1px;
          width: 0;
          height: 2px;
          background: #252525;
          transition: width .5s;
        }
        
        // header-navItems li:hover::after
        &:hover::after {
            width: 100%;
            height: 2px;
        }
      }
    }
  }
  
  // Active nav link
  .active {
    border-bottom: 2px solid #252525;
    opacity: .7;
    padding-bottom: 3px;
  }
  
  #loginDesktop {
        padding: 10px 20px;
        background-color: #252525;
        border-radius: 20px;
        transition: 1s all;
  
        & > a {
          color: aliceblue;

          &:hover {
            color: #252525;
          }
        }
  
        &:hover {
          border-bottom: none;
          background-color: aliceblue;
        }
  }

  .toggle {
    padding-right: 10px;
    transform: scale(2);
    color: #252525;
    
    @media (min-width: 1020px) {
      display: none;
    }
  }