.landing {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // border: 1px solid black;
    
    & .top {
        // border: 1px solid red;
        box-shadow: 1px 1px 5px 1px #222;
        margin: 0 10px;
        border-radius: 20px;
        padding: 10px;
        background-image: url('/assets/bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: fit-content;

        & > h1 {
            margin: 0;
        }

        & p {
            font-size: small;
        }

        & button {
            height: 30px;
            width: 150px;
            border: 1px solid #222;
            border-radius: 10px;
        }
    }

    .content {
        padding: 0 10px;
        height: 65%;

        & > h2 {
            margin-bottom: 0;
        }

        & .container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;
            height: 50%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            overflow-y: scroll;
            padding: 10px;
            
            & > .card {
                padding: 2px;
                display: flex;
                box-shadow: 1px 1px 5px 1px lightgray;

                & > div {
                    height: 70px;

                    & p {
                        margin: 2px 0;
                        font-size: 8px;
                    }

                    & h3 {
                        margin: 0;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}