.landing {
    margin-top: 70px;

    &-left {

        &_first {
            font-size: smaller;
            margin: 5px;
            padding: 10px;
            border-radius: 20px;
            background-color: #252525;
            color: #cac6c0;
            min-height: 100px;

            & p {
                margin: 0;
            }

            & h1 {
                margin-top: 5px;
                font-size: 1.5em;
            }
        }

        & .small-cards-container {
            font-size: smaller;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            &-item {
                width: 45%;
                margin: 5px;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-left: 5px;
                font-size: 10px;
                border-radius: 10px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                color: #dedcdc;

                & div {
                    display: flex;
                    gap: 15px;

                    & i {
                        transform: scale(3);
                        height: fit-content;
                    }
                }
            }
        }
    }

    &-right {
        margin: 5px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 5px;
        font-size: 10px;
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #dedcdc;
        height: 42vh;
        
        & div {
            display: flex;
            align-items: center;
            gap: 10px;

            & > i {
                transform: scale(2);
                height: fit-content;
            }

            & h1 {
                font-size: 28px;
                margin-bottom: 0px;
            }
        }
    }
}
